---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---
<BaseLayout>
	<h1>Page principale</h1>
</BaseLayout>


<style>
	h1 {
		text-align: center;
		margin-top: 2rem;
	}
</style>
