---
import Header from "../components/Header.astro";
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Timothée - étudiant en informatique</title>
</head>
<body>
  <main>
    <Header />

    <slot />
  </main>
</body>
</html>

<style>
  body {
      margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, sans-serif;
  }
</style>