---
import Header from "../components/Header.astro";
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Timothée - étudiant en informatique</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
</head>
<body>
  <a class="skip-link sr-only" href="#main">Passer au contenu</a>
  <main id="main">
    <Header />

    <div class="container">
      <slot />
    </div>
  </main>
</body>
</html>
